@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$navbar-default-brand-color: #333333;
$navbar-default-link-color: #333333;
$navbar-default-link-hover-color: #333333;
