@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$navbar-default-brand-color: #333333;
$navbar-default-link-color: #333333;
$navbar-default-link-hover-color: #333333;
$white-faded: rgba(255,255,255,0.5);
$gray-dark: rgba(0,0,0,0.5);
$gray-light: rgba(0,0,0,0.3);
$light-link-color: rgba(15,68,38,0.65); // desaturate($brand-primary, 40%);


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin serif() {
	font-family: 'Lora', 'Georgia', serif;
}

@mixin sans-serif () {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin blended () {
  // background-color: red;
  background-blend-mode: multiply;
}
